In [24]:
import en_core_web_sm
spacy_nlp = en_core_web_sm.load()

In [5]:
article = '''
Asian shares skidded on Tuesday after a rout in tech stocks put Wall Street to the sword, while a 
sharp drop in oil prices and political risks in Europe pushed the dollar to 16-month highs as investors dumped 
riskier assets. MSCI’s broadest index of Asia-Pacific shares outside Japan dropped 1.7 percent to a 1-1/2 
week trough, with Australian shares sinking 1.6 percent. Japan’s Nikkei dived 3.1 percent led by losses in 
electric machinery makers and suppliers of Apple’s iphone parts. Sterling fell to $1.286 after three straight 
sessions of losses took it to the lowest since Nov.1 as there were still considerable unresolved issues with the
European Union over Brexit, British Prime Minister Theresa May said on Monday.'''

In [6]:
document = spacy_nlp(article)

In [16]:
# print token, dependency, POS tag 
for tok in document: 
  print(tok.text, "-->",tok.dep_,"-->", tok.pos_)

 -->  --> SPACE
Asian --> amod --> ADJ
shares --> nsubj --> NOUN
skidded --> ROOT --> VERB
on --> prep --> ADP
Tuesday --> pobj --> PROPN
after --> mark --> ADP
a --> det --> DET
rout --> nsubj --> NOUN
in --> prep --> ADP
tech --> compound --> NOUN
stocks --> pobj --> NOUN
put --> advcl --> VERB
Wall --> compound --> PROPN
Street --> dobj --> PROPN
to --> prep --> ADP
the --> det --> DET
sword --> pobj --> NOUN
, --> punct --> PUNCT
while --> mark --> SCONJ
a --> det --> DET

 -->  --> SPACE
sharp --> amod --> ADJ
drop --> nsubj --> NOUN
in --> prep --> ADP
oil --> compound --> NOUN
prices --> pobj --> NOUN
and --> cc --> CCONJ
political --> amod --> ADJ
risks --> conj --> NOUN
in --> prep --> ADP
Europe --> pobj --> PROPN
pushed --> advcl --> VERB
the --> det --> DET
dollar --> dobj --> NOUN
to --> prep --> ADP
16-month --> nummod --> NUM
highs --> pobj --> NOUN
as --> mark --> SCONJ
investors --> nsubj --> NOUN
dumped --> advcl --> VERB

 -->  --> SPACE
riskier --> amod --> ADJ
assets --> dobj --> NOUN
. --> punct --> PUNCT
MSCI --> nmod --> PROPN
’s --> punct --> PART
broadest --> amod --> ADJ
index --> nsubj --> NOUN
of --> prep --> ADP
Asia --> compound --> PROPN
- --> punct --> PUNCT
Pacific --> compound --> PROPN
shares --> pobj --> NOUN
outside --> prep --> ADP
Japan --> pobj --> PROPN
dropped --> ROOT --> VERB
1.7 --> nummod --> NUM
percent --> npadvmod --> NOUN
to --> prep --> ADP
a --> det --> DET
1 --> compound --> NUM
- --> punct --> SYM
1/2 --> nummod --> NUM

 -->  --> SPACE
week --> compound --> NOUN
trough --> pobj --> NOUN
, --> punct --> PUNCT
with --> prep --> ADP
Australian --> amod --> ADJ
shares --> nsubj --> NOUN
sinking --> pcomp --> VERB
1.6 --> nummod --> NUM
percent --> dobj --> NOUN
. --> punct --> PUNCT
Japan --> ROOT --> PROPN
’s --> punct --> PART
Nikkei --> nsubj --> PROPN
dived --> ROOT --> VERB
3.1 --> nummod --> NUM
percent --> dobj --> NOUN
led --> acl --> VERB
by --> agent --> ADP
losses --> pobj --> NOUN
in --> prep --> ADP

 -->  --> SPACE
electric --> amod --> ADJ
machinery --> compound --> NOUN
makers --> pobj --> NOUN
and --> cc --> CCONJ
suppliers --> conj --> NOUN
of --> prep --> ADP
Apple --> nmod --> PROPN
’s --> punct --> PART
iphone --> compound --> NOUN
parts --> pobj --> NOUN
. --> punct --> PUNCT
Sterling --> nsubj --> NOUN
fell --> ccomp --> VERB
to --> prep --> ADP
$ --> nmod --> SYM
1.286 --> pobj --> NUM
after --> mark --> ADP
three --> nummod --> NUM
straight --> amod --> ADJ

 -->  --> SPACE
sessions --> nsubj --> NOUN
of --> prep --> ADP
losses --> pobj --> NOUN
took --> advcl --> VERB
it --> dobj --> PRON
to --> prep --> ADP
the --> det --> DET
lowest --> pobj --> ADJ
since --> advmod --> SCONJ
Nov.1 --> punct --> ADV
as --> mark --> SCONJ
there --> expl --> PRON
were --> advcl --> AUX
still --> advmod --> ADV
considerable --> amod --> ADJ
unresolved --> amod --> ADJ
issues --> attr --> NOUN
with --> prep --> ADP
the --> det --> DET

 -->  --> SPACE
European --> compound --> PROPN
Union --> pobj --> PROPN
over --> prep --> ADP
Brexit --> pobj --> PROPN
, --> punct --> PUNCT
British --> amod --> ADJ
Prime --> compound --> PROPN
Minister --> compound --> PROPN
Theresa --> compound --> PROPN
May --> nsubj --> PROPN
said --> ROOT --> VERB
on --> prep --> ADP
Monday --> pobj --> PROPN
. --> punct --> PUNCT

In [7]:
for element in document.ents:
    print('Type: %s, Value: %s' % (element.label_, element))

Type: NORP, Value: Asian
Type: DATE, Value: Tuesday
Type: LOC, Value: Europe
Type: LOC, Value: Asia-Pacific
Type: GPE, Value: Japan
Type: PERCENT, Value: 1.7 percent
Type: CARDINAL, Value: 1-1/2
Type: DATE, Value: week trough
Type: NORP, Value: Australian
Type: PERCENT, Value: 1.6 percent
Type: GPE, Value: Japan
Type: PERCENT, Value: 3.1 percent
Type: ORG, Value: Apple
Type: MONEY, Value: 1.286
Type: CARDINAL, Value: three
Type: ORG, Value: European Union
Type: GPE, Value: Brexit
Type: NORP, Value: British
Type: PERSON, Value: Theresa May
Type: DATE, Value: Monday

In [8]:
def subtree_matcher(doc): 
  x = '' 
  y = '' 
  
  # iterate through all the tokens in the input sentence 
  for i,tok in enumerate(doc): 
    # extract subject 
    if tok.dep_.find("subjpass") == True: 
      y = tok.text 
      
    # extract object 
    if tok.dep_.endswith("obj") == True: 
      x = tok.text 
      
  return x,y

In [9]:
subtree_matcher(document)

('Monday', '')

In [23]:
#define the pattern 
from spacy.matcher import Matcher 
matcher = Matcher(spacy_nlp.vocab)
pattern = [
           {'POS':'NOUN','OP':"?"},
           {'POS':'PRON','OP':"?"},
           {'POS':'PROPN','OP':"?"},    
           {'POS':'VERB'},
           {'DEP':'nummod','OP':"?"},
           {'DEP':'nummod'}
           ] 
           
matcher.add("matching_1", None, pattern) 

matches = matcher(document) 
span = document[matches[0][1]:matches[0][2]] 
print(span.text)

Japan dropped 1.7

In [19]:
#define the pattern 
from spacy.matcher import Matcher 
matcher = Matcher(spacy_nlp.vocab)
pattern = [
           {'POS':'NOUN'}, 
           {'DEP':'nummod','OP':"?"}
           {'POS':'VERB'},
           {'DEP':'nummod','OP':"?"}
           ] 
           
matcher.add("matching_1", None, pattern) 

matches = matcher(document) 
span = document[matches[0][1]:matches[0][2]] 
print(span.text)

shares

## Abhishek's code

In [27]:
import pandas as pd
import numpy as np
import os
import en_core_web_sm
spacy_nlp = en_core_web_sm.load()

os.getcwd()

'C:\\Users\\monali\\Desktop\\Speech to text'

In [34]:
import pandas as pd
import numpy as np
import os
import en_core_web_sm
spacy_nlp = en_core_web_sm.load()

os.getcwd()
#os.chdir('C:\\Users\\abhishekpandey\\Desktop\\Hack19')

text_file = open('text_block.txt', 'r')
article_text = text_file.read()
text_file.close()

article_document = spacy_nlp(article_text)

elements_in_text = []
for element in article_document.ents:
    print('Type: %s, Value: %s' % (element.label_, element))
    temp_list = []
    temp_list.append(element.label_)
    temp_list.append(element)
    
    elements_in_text.append(temp_list)



from spacy.matcher import Matcher 
matcher = Matcher(spacy_nlp.vocab)
pattern = [ {'POS':'NOUN'}, 
          
           {'POS':'VERB','OP':"?"},
           {'POS':'NOUN'}
          ] 
           
matcher.add("matching_1", None, pattern) 

matches = matcher(article_document) 
span = article_document[matches[0][1]:matches[0][2]] 


print(span.text)

Type: PERSON, Value: Tim
Type: CARDINAL, Value: 5
Type: DATE, Value: this quarter
Type: CARDINAL, Value: 5
Type: PRODUCT, Value: Boots, Dell
Type: PERSON, Value: Tesco Mobile
Type: ORG, Value: Peugeot
Type: PERSON, Value: Adidas
Type: PERSON, Value: Adidas
Type: PERSON, Value: Adidas
Type: PERSON, Value: Boots
Type: ORG, Value: Create
Type: ORG, Value: MediaCom
Type: PERSON, Value: Jivox
Type: GPE, Value: UK
Type: PERSON, Value: Bob
Type: PERSON, Value: Dell
Type: PERSON, Value: Dell
Type: GPE, Value: US
Type: ORG, Value: Dell
Type: CARDINAL, Value: Q1
Type: NORP, Value: European
Type: CARDINAL, Value: three
Type: PERSON, Value: this Gavin Reeder
Type: MONEY, Value: friendâ€™
Type: PRODUCT, Value: Fran
Type: PERSON, Value: aheadÂ
Type: PERSON, Value: Adidas
Type: TIME, Value: this morning
Type: ORG, Value: Tesco Mobile
Type: ORG, Value: Peugeot
Type: CARDINAL, Value: ™
Type: DATE, Value: this quarter
Type: ORG, Value: Tesco
Type: WORK_OF_ART, Value: Â£500k
Type: ORG, Value: Peugeot
Type: DATE, Value: last year
Type: MONEY, Value: a penny
Type: DATE, Value: 2018
Type: PERSON, Value: Raj
Type: ORG, Value: Tesco Mobile
Type: ORG, Value: Motion
Type: LOC, Value: Europe
Type: PERSON, Value: Damien
Type: CARDINAL, Value: ™
Type: CARDINAL, Value: one
Type: ORG, Value: Tesco
Type: PERSON, Value: Damien
Type: ORG, Value: Freddie
Type: PERSON, Value: Damien
Type: ORG, Value: Freddie
Type: CARDINAL, Value: ™
Type: CARDINAL, Value: 5minutes
Type: PERSON, Value: Adidas
Type: ORG, Value: Peugeot
Type: DATE, Value: next week
Type: CARDINAL, Value: ™
Type: PERSON, Value: Luke
Type: ORG, Value: DV360
Type: ORG, Value: Quantcast
Type: ORG, Value: Captify
Type: PERSON, Value: Luke
Type: DATE, Value: 2020
Type: CARDINAL, Value: notesâ€
Type: CARDINAL, Value: secondsâ€
Type: ORG, Value: ADH
Type: ORG, Value: ADH
Type: PERSON, Value: Ads
Type: PERSON, Value: Tom Richards
Type: DATE, Value: last week
Type: ORG, Value: Google
Type: ORDINAL, Value: first
Type: PERSON, Value: Tom
Type: ORG, Value: ADH
Type: GPE, Value: Bangalore
Type: PERSON, Value: Bob
Type: MONEY, Value: thatâ€™s
Type: PERSON, Value: Abhishek Chakraborty
Type: DATE, Value: last month
Type: PERSON, Value: Tim
Type: PERSON, Value: Tom
Type: TIME, Value: a minute
Type: PERSON, Value: Gavin
Type: PERSON, Value: Tim
Type: PERSON, Value: Damien
Type: ORG, Value: Tesco
Type: PERSON, Value: Tim
Type: ORG, Value: Tom & Abhishek
Type: ORG, Value: ADH
Type: PERSON, Value: Adidas
Type: PERSON, Value: Giles
weather conditions

In [36]:
elements_is_speech = pd.DataFrame(elements_in_text)

In [37]:
elements_is_speech

           0                   1
0     PERSON               (Tim)
1   CARDINAL                 (5)
2       DATE     (this, quarter)
3   CARDINAL                 (5)
4    PRODUCT    (Boots, ,, Dell)
..       ...                 ...
86    PERSON               (Tim)
87       ORG  (Tom, &, Abhishek)
88       ORG               (ADH)
89    PERSON            (Adidas)
90    PERSON             (Giles)

[91 rows x 2 columns]